

.feature {
	padding: 50px 215px;
	flex-direction: row;
	justify-content: center;
  padding: 94px 0;
	&--title {
    @extend %title
	}
	&__items {
		display: flex;
		gap: 21px;
		margin: 0 auto;
		padding: 0;
	}
	&_item {
		width: 270px;
		font-family: "Roboto";
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		letter-spacing: 0.03em;
		color: $light-grey;
    letter-spacing: 0.03em;

    color: #757575;
	}
  
	&__images {
		display: flex;
		width: 70px;
		background:$whiteish;
		border-radius: 4px;
		padding: 25px 100px;
		margin: 0 auto;
    align-items: center;
	}
}
	/* or 171% */

 

.feature__item > h4 {
   text-align: left;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.feature__item > p {
  @include text(14px, 0.42px, 400);
  line-height: 24px;

}



	.feature__item > h4 {
		color: $dark;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.42px;
		text-transform: uppercase;
	}
  .feature__item > p {
		color: $light-grey;
		font-family: Roboto;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.42px;
	}

