$var1: #212121;

$var3: #484444;
$var4: #ececec;
$var5: #ffffff;

$blue: #2196f3;
$var8: #afb1b8;



$light-grey: #757575;
$whiteish: #f5f4fa;
$white-diff: #eeeeee;
$dark: #212121;
$white: #FFFFFF;



