%block {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: .03em;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 61px;
    position: relative;
    left: 0;
    top: -65px;
    background: rgba(47,48,58,.8);
    width: 100%;
}