.btn_open {
  color: white;
  background-color: purple;
}

.btn_close {
  top: 6px;
  left: 492px;
  position: relative;

  border: none;
  font-weight: 700;
  font-size: 25px;
  border-radius: 100%;
  background-color: white;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;

  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.is-hidden {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

span {
  color: black;
}
input {
  border: none;
  outline: none;
  margin-left: 10px;
}
.expl_text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.form_text {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
textarea {
  width: 448px;
  height: 120px;
  box-sizing: border-box;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
form {
  padding: 12px 40px 30px 40px;
}
.contact_btn {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin: 0 auto;
}
.checkbox {
  width: 17px;
  cursor: pointer;
}
.blue {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}
.form_box {
  width: 448px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 11px 0 11px 12px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.form_box:hover i {
  color: #2196f3;
  transition:0.8s all;
}
.form_box:hover {
  border-color: #2196f3;
  transition:0.8s all;
}
.foot_btn_sub {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  border: none;
}
.email_ft_label {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.footer_input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.48px;
  padding: 15px 295px 15px 16px;
  box-sizing: border-box;
}
.form_footer_box {
  display: flex;
  justify-content: center;


  gap: 23px;
  flex-direction: column;
}
.wrap_modal {
  display:flex;
  gap:30px;
}
.label_wrap {
  display: flex;
}
.end>.container {
  display: flex;
  justify-content: center;
}
.footer_form {
  justify-content: center;
  display: flex;
}