.container {
    width: 1140px;
    margin: 0 auto;
  }
  .block {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 61px;


    
  
    position: relative;
    left: 0;
    top: -65px;background: rgba(47, 48, 58, 0.8);
    width: 100%
    
}
.block>h4 {
    color: #FFFFFF;
        
  }
  body {
    background-color: #FFFFFF;
  }
  
a:hover {
  color:#2196F3;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}





h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
